
.format {
  border: 1px solid lightgrey;
  padding: 15px;
  box-shadow: 1px 1px 3px #ccc7c7;
  height: 200px;
  overflow: hidden;
}

.format-wrapper a {
  text-decoration: none;
  color: black;
}

.format-wrapper {
  transition: all .2s ease-in-out;
}

.format-wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.format-title {
  color: rgb(3, 3, 3);
  font-size: 20px;
  margin-bottom: 15px;
}

.formats {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
  grid-gap: 50px;
  align-items: top; 
}
