
.format {
  border: 1px solid lightgrey;
  padding: 15px;
  box-shadow: 10px 5px 5px darkgrey;
  height: 200px;
  overflow: hidden;
}

.format-title {
  color: rgb(3, 3, 3);
  font-size: 20px;
  margin-bottom: 15px;
}

.formats {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
  grid-gap: 50px;
  align-items: top; 
}
