body {background-color: #f7f7f7;}

.standup {
  border: 1px solid lightgrey;
  padding: 15px;
  box-shadow: 1px 1px 3px #ccc7c7;
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  background-color: white;
}

.standup-card {
  height: 200px;
}

.standup-summary {
  max-height: 150px;
  overflow: hidden;
}

.standup-wrapper a {
  text-decoration: none;
  color: black;
}

.standup-wrapper {
  transition: all .2s ease-in-out;
}

.standup-wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.standup-title {
  color: rgb(3, 3, 3);
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.standups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
  grid-gap: 50px;
  align-items: top;
}

.tags {
  margin-bottom: 20px;
}

.tag {
  border: none;
  margin: 10px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 14px;
}

.tag-button {
  transition: all .2s ease-in-out;
  width: 150px;
  font-size: 18px;
  background-color: #a1aaac;
}

.tag-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.standup-tags {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
